@keyframes wiggle {
    10%, 90% {
      transform: translateX(-1px);
    }
  
    20%, 80% {
      transform: translateX(2px);
    }
  
    30%, 50%, 70% {
      transform: translateX(-5px);
    }
  
    40%, 60% {
      transform: translateX(6px);
    }
  }

  @keyframes wave {
    0%, 60%, 100% {
        transform: initial;
    }
    
    30% {
        transform: translateY(-15px);
    }
    }

