// Couleurs principales texte et fond du site

@mixin bgtxt {
    background: $clr-bgmain;
    color: $clr-txtmain;
}

// mise en forme de la section page d'accueil

@mixin grid {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

// mise en forme des tuiles page d'accueil

@mixin menu-box {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 335px;
    height: 485px;
    margin: 20px;
    box-shadow: 0 0 10px 5px #ededed ;
    text-align: center;
    font-size: 1.5rem;
    border-radius:5px;
}
