body {
    display: flex;
    flex-direction: column;
    margin: auto;
}

header {
    @include bgtxt;
    font-family: "Source Sans Pro";
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    margin-bottom: 20px;
    text-decoration: none;
}

section {
    max-width: 900px;
    margin: auto;
}


footer {
    @include bgtxt;
    font-family: "Source Sans Pro";
    font-size: 1.5rem;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    padding: 0 30px;
    position: sticky;
    left: auto;
    right: auto;
    bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
}


.menu {
    @include menu-box;

    >p,h3,i {
        transform: scale(1);
        opacity: 1;
        transition-duration: 600ms;
        text-decoration: none;
    }

    &:hover {
        >p,h3,i {
            opacity: 0.5;
            transform: scale(1.5);
            transition: ease-in-out 600ms;
        }
    }
}

.choix {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    margin: 0 120px;

}

.mouv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    margin: 0 80px;

    h3 {
        display: inline-flex;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: currentColor;
            transform-origin: bottom right;
            transition: transform 250ms ease-out;

        }

        &:hover::before {
            cursor: pointer;
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
}

.sep {
    max-width: 250px;
    max-height: 12px;
    &.flip {
        transform: scaleX(-1);
    }
}

.menu_title {
    text-align: center;
    font-size: 3.5rem;
    >.note {
        font-size: 5rem;
    }
}

@media screen and (max-width: 767px) {

    header {
        width: 100%;
        font-size: 2rem;
    }

    section {
        width: 95%;
    }

    footer {
        width: 100vw;
        font-size: 1.2rem;
        justify-content: space-evenly;
        padding: 0;

    }

    .menu {
        width: 300px;
        margin: 20px 0px;
        
    }
    
    .sep {
        display: none;
    }

    .mouv {
        width: 100%;
        margin: 0;
        justify-content: center;
    }

    .choix {
        margin: 0;
        text-align: center;
        flex-direction: column;
    }

    .btn {
        max-width: 280px;
        padding: 0;
    }

    
}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .mouv {
        text-align: center;
        margin: 0 50px;
    }
}


