body {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    max-width: 640px;
    max-height: 100%;
    margin: auto;
}

header {
    @include bgtxt;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    margin-bottom: 20px;
}

section {
    // height: 75%;
}


footer {
    @include bgtxt;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.menu {
    @include menu-box;
}
