.grid {
    @include grid
}

._1 {
    background: $clr-bg1;
    color : $clr-txtrest1;
    font-family: Ma Shan Zheng;
} 

._2 {
    background: $clr-bg2;
    color: $clr-txtrest2;
    font-family: Redressed;
}

._3 {
    background: $clr-bg3;
    color: $clr-txtrest3;
    font-family: Dancing Script;
}

._4 {
    background: $clr-bg4;
    color: $clr-txtrest4;
    font-family: Kaushan Script;
}
