// Regles spécifiques au menu " Le chic a la francaise"


#menu_chic {
    background: $clr-bg2;
    color: $clr-txtrest2;
    font-family: "Redressed";
}

.mouv1 {
    color: $clr-mouv1;
}

.mouv2 {
    color: $clr-mouv2;
}

.mouv3 {
    color: $clr-mouv3;
}