.btn {
    @include bgtxt;
    font-family: "Source Sans Pro";
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 55px;
    margin: auto;
    margin-top: 20px;
    padding: 0 10px;
    border-radius: 8px;
}

.note {
    background: $clr-txtgradient1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rest2 {
    background: $clr-txtgradient2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rest3 {
    background: $clr-txtgradient3;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rest4 {
    background: $clr-txtgradient4;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer>a:hover {
    animation: wiggle 1s cubic-bezier(.36, .07, .19, .97) both infinite;
    transform: translateX(0);
}


.btn>.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: $clr-txtmain;
    animation: wave 1.3s ease-in-out infinite;

    &:nth-child(2) {
        animation-delay: -.4s;
    }

    &:nth-child(3) {
        animation-delay: -.2s;
    }
}

a {
    color: inherit;
    text-decoration: none;
}


.menu {
    @include menu-box;

    >p,
    h3,
    i {
        transform: scale(1);
        opacity: 1;
        transition-duration: 600ms;
        text-decoration: none;
    }

    &:hover {

        >p,
        h3,
        i {
            opacity: 0.5;
            transform: scale(1.5);
            transition: ease-in-out 600ms;
        }
    }
}

.choix {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    margin: 0 120px;

}

.mouv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    margin: 0 80px;

    h3 {
        display: inline-flex;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: currentColor;
            transform-origin: bottom right;
            transition: transform 250ms ease-out;

        }

        &:hover::before {
            cursor: pointer;
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }
}

.sep {
    max-width: 250px;
    max-height: 12px;

    &.flip {
        transform: scaleX(-1);
    }
}

.menu_title {
    text-align: center;
    font-size: 3.5rem;

    >.note {
        font-size: 5rem;
    }
}