.btn {
    @include bgtxt;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 55px;
    margin: auto;
    margin-top: 20px;
    border-radius: 8px;
}